.movieWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 10px;
  &:hover {
    transform: scale(1.05);
  }
  .movieImage {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  .movieInfo {
    width: 100%;
    padding: 10px;
    .movieTitle {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .movieYear {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .movieDescription {
      font-size: 0.8rem;
      font-weight: 300;
      margin-bottom: 5px;
    }
    .movieGenres {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 5px;
      display: flex;
    //   flex-direction: column;

      .genres {
        margin: 2px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
